{% extends 'base.html.twig' %}

{% block title %}RentCar - AMRI
{% endblock %}

{% block body %}


	<img src="{{asset('assets/img/rentCar1.jpg')}}" alt="RentCar" width="100%"/>
	<h5 class="title1">liste des voitures disponible !</h5>

	<div class="bas text-center" style="background:#F6F6F6;">
		<h5 class="title1">TÉLÉCHARGEZ L'APP RENTCAR</h5>
		<div>
			<a href="">
				<img src="{{asset('assets/img/imgplay.png')}}" alt="google play"/>
			</a>
		</div>
	</div>

{% endblock %}
