{% extends 'base.html.twig' %}

{% block title %}New Engines{% endblock %}

{% block body %}
    <h1>Create new Engines</h1>

    {{ include('engines/_form.html.twig') }}

    <a href="{{ path('engines_index') }}">back to list</a>
{% endblock %}
